h1 {
  font-weight:normal;
  color:#fff;
 text-align: center;
}

body{
  padding:0;
  margin:0;
}

h2{
 color:#3c8dbc;
}

h3{
color:#3c8dbc;
font-weight:normal;
font-size:1.3em;
}

ul {
  list-style-type: none;
  padding: 0;
}

  li {
    display: inline-block;
    margin: 0 10px;
  }

    a {
      color: #42b983;
    }

div{
  background-color:#3c8dbc;
}

  #app{
  margin-top:0;
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.header-component{
  grid-column: span 12;
}

  .container-component{
    background-color:#f4f4f4;
    grid-column: span 4;
    margin:0;
    padding:1em;
    }

    .container-component form{
      background-color: rgba(255, 255, 255, .7);
      border-radius:.6em;
      padding:1.5em;
    }

  .container{
    background-color:#f4f4f4;
    grid-column: span 8;
    margin:0;
    padding:1em;
  }

  .container form {
    background-color: rgba(255, 255, 255, .7);
    border-radius: .75em;
    color: #3c8dbc;
    font-size: 1.2em;
    width: 100%;
    padding-top: 1em;
  }

  .container form select {
    width: 20em;
    margin: 0;
    display: block;
    border: .0625rem solid #91a3b7;
    color: #606060;
    font-size: 1rem;
    border-radius: .5rem;
  }
 .footer-component{
  background-color:#eaeaea;
  grid-column: span 12;
  color:#4d4d4d;
  padding:1em;
  text-align:center;
  font-weight:bold;
   }

   select{
     width:70em;
     height:2em;
     border-radius:1em;
   }

   button{
     border-radius:.6em;
     background-color:#3c8dbc;
     color:#fff;
     border:none;
     width:16em;
     height:2em;
     margin-top:1em;
     font-size:1.1em;
   }

   button.indicaties{
     background-color:#4d4d4d;
   }

   fieldset{
     border:none;
   }

   legend{
     font-size:1.2em;
     font-weight:bold;
   }